body,
html {
  background: linear-gradient(
      rgba(255, 255, 255, 0.25), 
      rgba(255, 255, 255, 0.85)
    ), url("./src/wallpaper.jpg");
}

body {
  margin: 0px;
  background-color: #444;
  font-size: 18px;
}

.dancefloor {
  min-height: 90vh;
}

.header-button-randomdancer {
  opacity: .85;
  font-family: "Roboto", sans-serif;
  grid-column-start: second;
  grid-column-end: third;
  grid-row-start: second;
  grid-row-end: second;
  text-align: center;
}

.header-button-lineup {
  opacity: .85;
  font-family: "Roboto", sans-serif;
  grid-column-start: first;
  grid-column-end: second;
  grid-row-start: second;
  grid-row-end: second;
  text-align: center;
}

.header-button-randomprogram {
  opacity: .85;
  font-family: "Roboto", sans-serif;
  grid-column-start: third;
  grid-column-end: fourth;
  grid-row-start: second;
  grid-row-end: second;
  text-align: center;
}

.header-button-randomlanguage {
  opacity: .85;
  font-family: "Roboto", sans-serif;
  grid-column-start: fourth;
  grid-column-end: fifth;
  grid-row-start: second;
  grid-row-end: second;
  text-align: center;
}

.header-button-randomcompany {
  opacity: .85;
  font-family: "Roboto", sans-serif;
  grid-column-start: fifth;
  grid-column-end: sixth;
  grid-row-start: second;
  grid-row-end: second;
  text-align: center;
}

.header-button-addall {
  opacity: .85;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  grid-column-start: first;
  grid-column-end: second;
  grid-row-start: first;
  grid-row-end: first;
  text-align: center;
}

.header-button-clearall {
  opacity: .85;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  grid-column-start: sixth;
  grid-column-end: end;
  grid-row-start: first;
  grid-row-end: first;
  text-align: center;
}

.header-button-partymode {
  opacity: .85;
  font-family: "Roboto", sans-serif;
  grid-column-start: sixth;
  grid-column-end: end;
  grid-row-start: second;
  grid-row-end: second;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px red, 0 0 75px #ff0080;
}


.header {
  display: grid;
  background-color: #222;
  
  color: #eee;
  grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [sixth] 1fr [end];
  grid-template-rows: [first] 5rem [second] 5rem [end];
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none !important;
}
.title {
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-size: 3vmax;
  font-weight: bold;
  grid-column-start: second;
  grid-column-end: sixth;
  grid-row-start: first;
  grid-row-end: first;
  text-align: center;
  color: #fff;
}

.dancer {
  position: absolute;
}

.devicon-git-plain {
  max-width: 6em;
}

/* if you want to change the original color */
.devicon-git-plain path {
  fill: white;
}

a {
  text-decoration: none !important;
  color: #eee;
  font-size: 2vmin;
}

.program {
  /*fill: orange;*/
}

.langauge {
  /*fill: yellow;*/
}

.company {
  /*fill: lightgreen;*/
}

#apple path {
  fill: white;
}

#javascript path {
  fill: yellow;
}

#css path {
  fill: #00a5db;
}

#visualstudios path {
  fill: #007cc8;
}

#atom path {
  fill: lightgreen;
}

#github path {
  fill: black;
}

#firefox path {
  fill: #e38937;
}

#facebook path {
  fill: #395e98;
}

#amazonwebservices path {
  fill: #fc8a2b;
}

#chrome path {
  fill: #f73126;
}

#twitter path {
  fill: #00a3ee;
}

#slack path {
  fill: #e60a59;
}

#ruby path {
  fill: #ab0a0a;
}

#python path {
  fill: #ffc843;
}

#php path {
  fill: #636b9e;
}

#node path {
  fill: #81bd2f;
}

#explorer path {
  fill: #0ca7df;
}

#cplusplus path {
  fill: #005b99;
}

#c path {
  fill: #000b7d;
}

#csharp path {
  fill: #350d90;
}

#angular path {
  fill: #e30033;
}

#git path {
  fill: red;
}

a {
  transition: 0.5 ease-in-out;
}

a:hover {
  transform: scale(1.35);
  transition: 0.25s cubic-bezier(0.34, 1.53, 0.8, 0.82);
  color: white;
}

